
.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #cbcbf3;
}
.title h1 {
  color: #3a3a3a;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
form {
  width:100%;
  max-width: 60%;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #ddd;
}
